<div class="fluid-container align-center text-center mt-5 text-uppercase">
    <div class="logo">
        <!--<object id="lineDrawing" data="img/logo.svg" type="image/svg+xml" width=" 200px">-->

        <!--</object>-->
        <div id="lineDrawing">
            

                <svg width="200px" height="100%" viewBox="0 0 322 235">
                        <g class="lines" fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="4" stroke-linecap= "round" >
                        <path d="M52.268,169.491c0,0 69.604,-90.601 92.704,-120.671c4.635,-6.033 11.811,-9.569 19.419,-9.569c14.952,0 40.592,0 58.1,0c3.326,0 6.344,1.946 7.717,4.976c1.372,3.03 0.845,6.582 -1.348,9.083c-0.001,0.001 -0.003,0.003 -0.004,0.004c-6.48,7.388 -9.03,17.433 -6.857,27.016c2.172,9.584 8.803,17.548 17.835,21.42c18.511,7.773 27.118,23.409 28.94,44.168c0.186,23.501 -17.767,47.67 -48.886,48.886" /><path d="M52.268,169.491c0,0 69.604,-90.601 92.704,-120.671c4.635,-6.033 11.811,-9.569 19.419,-9.569c14.952,0 40.592,0 58.1,0c3.326,0 6.344,1.946 7.717,4.976c1.372,3.03 0.845,6.582 -1.348,9.083c-0.001,0.001 -0.003,0.003 -0.004,0.004c-6.48,7.388 -9.03,17.433 -6.857,27.016c2.172,9.584 8.803,17.548 17.835,21.42c18.511,7.773 27.118,23.409 28.94,44.168c0.186,23.501 -17.767,47.67 -48.886,48.886"/><path d="M252.865,53.759c17.281,17.506 29.151,40.366 32.886,65.854c0.826,5.641 1.254,11.41 1.254,17.278" /><path d="M50.272,136.891c0,-65.328 53.038,-118.366 118.367,-118.366" /><path d="M37.344,107.517c10.691,-47.921 46.98,-86.235 93.745,-99.823" /><path d="M34.936,218.07l215,0" /><path d="M38.363,186.653l54.049,0" /><path d="M268.776,186.653l49.88,0" stroke="#7E47FF"/><path d="M3,201.499l101,0"/><path d="M252.865,201.499l30.062,0" /><g><path d="M192.714,231.273l14.607,-25.3" /><path d="M177.172,231.273l14.607,-25.3" stroke="#7E47FF"/><path d="M161.63,231.273l14.607,-25.3" /><path d="M158.707,94.476l0.229,105.023" /><path d="M158.903,55.089l0.051,23.393" /><path d="M80.506,166.61l49.881,0l-10.553,20.043"/><path d="M252.865,141.078c0,20.421 -16.579,37 -37,37" stroke="#7E47FF"/><path d="M34.747,136.563c0,-73.715 59.848,-133.563 133.564,-133.563c14.327,0 28.13,2.261 41.072,6.444" stroke="#7E47FF"/></g></svg>
                        </div>

        <div class="brand">
                
            
            <h1 class="font-weight-bold">Rem<span>.</span></h1>
            <h2 class=" brand-name">Agencja Artystyczna</h2>
            
        </div>
    </div>
</div>
<div class="fluid-container">
    <nav class="nav navbar-expand-sm mb-2 main-navigation">
        <ul class="navbar-nav mx-auto text-uppercase">
            <li class="nav-item"><a href="about" class="nav-link">About us</a></li>
            <li class="nav-item active"><a href="artists" class="nav-link">Artists</a></li>
            <li class="nav-item"><a href="equipment" class="nav-link">Equipment</a></li>
            <li class="nav-item"><a href="contact" class="nav-link">contact</a></li>
        </ul>
    </nav>
</div>
 