
@mixin slide-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.color-pink {
    color: $pink-color !important;
}

.color-purple {
    color: $purple-color !important;
}






.brand {
    h1 {
        font-size: 6rem !important;
        margin-top: -15px;
        span {
            color: white;
            text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        }

    }
    h2 {
        font-size: 2rem !important;
        margin-top: -15px;
        span {

            
            display: inline-block;
            position: relative;
            -webkit-transition: all 0.2s ease-out;


            &:hover {
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

        }
    }

}

.char7 {
    margin-right: 20px;
}

.char9,
.char10,
.char11 {
    color: $purple-color !important;
}





.category-list {
    .nav {
        .navbar-nav {
            margin-top: -40px !important; // margin-bottom: -20px !important;
        }
    }
}


#particles-js {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: absolute;
    // background-color: #b61924;
    // background-image: url('');
    // background-size: cover;
    // background-position: 50% 50%;
    // background-repeat: no-repeat;
}

.active {
    color: $purple-color;
}

.nav {
    ul {

        li {
            text-align: center;
        }

    }
    a {
        text-align: center;
        position: relative;
        margin: 20px;
        color: $primary-color;
        font-size: 1.2rem;
        &:hover {
            font-weight: bolder;
            color: $primary-color;
            cursor: crosshair;
        }
        &:hover:before {
            content: "";
            width: 80%;
            transition: all 0.5s;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            height: 8px;
            bottom: 10px;
            z-index: -1;
            width: 0;
            background-color: $pink-color;
            transition: all 0.5s;
        }
    }
}

#lineDrawing:hover {
    cursor: crosshair;
}



        .list-group-item:hover {
            cursor: crosshair;
            color: $primary-color;
            border: 1px solid $pink-color;
            font-weight: bolder;
        }
  

.category-list {

    .nav {
        ul {

            li {
                text-align: center;
            }

        }
        a {

            &:before {
                content: "";

                background-color: #B899FF;

            }
        }
    }

}

.show-gallery:hover {
    cursor: crosshair;
}

.gallery-thumbnails {
    display: flex;
    align-content: center;
    justify-content: center;
    .img-thumbnail {
        flex: 1 1 auto;
        margin: auto;
        padding: 10px;
        margin: 5px;
        flex-direction: row;
       
       
        
    }

    a {
       
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border: 1px $primary-color dotted;
            margin: 15px;
            border-radius: 5px;
            z-index: 800;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba( #1f2738, 0.7) url('../../assets/images/enlarge-icon.svg') no-repeat;
            background-size: 20%;
            background-position: center;
            // background-color: rgba($primary-color, 0.7);
            transform: scaleY(0);
            
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover {
            &::after {
                content: "";
                transform: scaleY(1);
                transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
                
                
               }
        }
    }
    
    
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
       
        


    }
   

}

.artists-list {
    transform: scale(1,1);
    transition: all 0.2s;
  
        li:hover {
            // background-color: rgba(255, 248, 250, 0.404);
            transform: scale(1.1,1.1);
            transition: all 0.3s;
        }
    
}

.about-side-header {
    transform: translateY(0);
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            transform: translateY(-10px);
            transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

}


.artist-bio {
    img {
        width: 160px;
        height: 160px;
        object-fit: cover;
    }
    .avatar{
        transform: translateY(0);
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            transform: translateY(-20px);
            transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}


.close {
    position: absolute;
    right: 0px;
    top: 40px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    display: none;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
