.lightbox {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #ffffffb4;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    text-align: center;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;

    .big-photo {
        
        display: none;
        
        img {
            max-width: 80%;
            height: auto;
            border: 4px solid white;
            box-shadow: rgba(37, 0, 37, 0.5) 1px 1px 1px;
        }
        
    }
}