.hero-slider {
    overflow: hidden;

    height: 500px;
    padding: 0px !important;

    .hero-image-mask {
        width: 1500px;
        height: 500px;
        background-image: url('../../assets/images/hero-image-0.jpg');
        background-size: cover;
        background-position: center;
        // background-attachment: fixed;

        .img-slide{
            img {
                object-fit: cover;
                object-position: center -250px;

            }
        }
    }

    
    .hero-image {
        @include slide-background;
        height: 500px;
        width: 100%;
        float: left;



    }


    .hero-image-frame {
        // width: 100%;
        // height: 30rem;
        position: absolute; // width: 100%;
        // height: 100%;
        left: 5px;
        top: 5px;
        bottom: 5px;
        right: 5px;
        border: 1px black solid;
    }


}

.author-name:before {
    content: "";
    background: transparent url('../../assets/images/camera-icon.svg') no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 5px -5px 5px;

}
