<div class="container">
        <div class="row mb-2 border-bottom"></div>
        <div class="row">
            <div class="hero-slider col-12">
                <div class="hero-image-mask">
                    <div class="img-slide"><img src="assets/images/hero-image-0.jpg" width="100%" height="auto" /></div>
                    <div class="img-slide"><img src="assets/images/hero-image-1.jpg" width="100%" height="auto" /></div>
                    <div class="img-slide"><img src="assets/images/hero-image-2.jpg" width="100%" height="auto" /></div>
                    <div class="img-slide"><img src="assets/images/hero-image-3.jpg" width="100%" height="auto" /></div>
                </div>

            </div>
            <div class="col-12 hero-image-description text-right">
                Photo Author:
                <span class="author-name font-weight-bold">Mike Salmon</span>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-6 col-sm-12 about-side-header text-center">
                <h1>Here we can put
                    <span class="color-purple font-weight-bold">some nice header!</span>
                </h1>

            </div>
            <div class="col-md-6 col-sm-12 border-left">
                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit lobortis nisl.</p>
            </div>

        </div>
    </div>