    <div class="category-list">
            <nav class="nav navbar-expand-sm"><ul class="navbar-nav mx-auto text-uppercase mb-2"></ul>
            </nav>
        </div>
                    
    <div class="container">
        <div class="gallery-container"></div>
    </div>