<section id="contact">
        <div class="container">
            
            <h3 class="text-center text-uppercase">Zapraszamy do kontaktu</h3>
            <p class="text-center w-75 m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum purus at sem ornare sodales. Morbi leo nulla, pharetra vel felis nec, ullamcorper condimentum quam.</p>
            <div class="row">
                  <div class="col-8 mx-auto">
                       <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                   <div class="card-body text-center">
                     <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                     <h4 class="text-uppercase mb-5">Zadzwoń do nas:</h4>
                     <p>+48 665 252 245,+48 512 215 215</p>
                   </div>
                 </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                   <div class="card-body text-center">
                     <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                     <h4 class="text-uppercase mb-5">Lokalizacja:</h4>
                    <address>Suite 02, Level 12, Sahera Tropical Center </address>
                   </div>
                 </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                   <div class="card-body text-center">
                     <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                     <h4 class="text-uppercase mb-5">email</h4>
                     <p>http://some.mal@gmail.com</p>
                   </div>
                 </div>
              </div>

            </div>
            </div>

            
        </div>
        </div>
     </section>