<section id="equipment">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-12 my-5 text-center"> <h1>Zapraszamy wkrótce...</h1></div>
               
            </div>
            </div>
            
         
     </section>