

<div class="row">
    <ul class="artists-list col-4 list-group list-group-flush mx-auto text-center mb-5"></ul>
</div>
<div class="col-12 mx-auto"> <div class="close"></div></div>
<div class="row">
    <div class="artist-bio-container"></div>
    
   
    <div class="col-12 mx-auto">
         <div id="show-g" class="row gallery-thumbnails"></div>
          <div class="col-8 mx-auto mt-0 category-description"></div>
    </div>
</div>